#myButton {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lime;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: black;
    text-align: right;
    pointer-events: none;
}

html {
  background: url(johns-code.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100%; /* Set the height to 100% to cover the entire viewport */
}

/* Your existing button and collapsible styles */
.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%; /* Make the button full width */
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  display: block;
  margin: 0;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible.active,
.collapsible:hover {
  background-color: lime;
}
.img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    margin: 0 auto 20px; /* Add bottom margin to create space */
    cursor: pointer;
}



a:link {
  color: blue;
}

